*{
    margin: 0;
    padding: 0;

}

nav{
    background: white;
    height: 45%;
    display: flex;
    justify-content: flex-end;
                      
}


ul {
   
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    text-decoration:none;
    color:white;
    text-decoration: none;
    list-style: none;
    
    margin-right: 2%;
    width: 100%;
    
    
} 

ul li{
    
    margin: 15px;
    color: black;
    
    
    
}

.img-menu{
    margin-top: 1px;
    position: absolute;
    top: 10px;
    margin-right: 90%;
}



.gridpe{
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr;
    
    justify-content: center;
    align-items: center;
    margin: 1% auto;
    
    
    grid-template-areas: 
    "hea hea hea"
    "seca seca seca"
    "secb secb  secb"
  
}
header{
    display: flex;
    align-items: center;
    background-image: url(./root/image/Galeria\ ext.jpeg);
    background-repeat: no-repeat;
    grid-area: hea;
    height: 853px;
    width: 1280px;
    justify-self: center;
    margin-top: none;

}

.titulohead{
    position: absolute;
    text-align: center;
    margin-left: 5%;
}
.titulosec{
    position: absolute;
    text-align: center;
    margin-left: 5%;
    margin-top: 25%;

}

.sectiona{
    display: flex;
    justify-content: space-evenly;
    margin: none;
    background-color: white;
    grid-area: seca;
    margin-top: 1%;
    margin-bottom:1% ;
   
}
.sectionb{
    display: flex;
    background-color: black;
    grid-area: secb;
    justify-content: space-around;
    color: white;
    height: 350px;
    margin-top: 1%;
    margin-bottom:1% ;
    
        
    
}

.divseca{
    background-image: url(./root/image/residencial2.jpeg);
    background-repeat: no-repeat;
    height: 600px;
    width: 640px;
    background-size: cover;
    background-position: center;
    margin: 5px 5px 5px 5px ;
   
     
    
}

.divsecb{
    background-image: url(./root/image/imagen-3d-rendering.jpg);
    background-repeat: no-repeat;
    height: 600px;
    width: 400.75px;
    background-size: cover;
    background-position: center;
    margin: 5px 5px 5px 5px ;
    

    
   
}

h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  
}

.titulosecb{
    position: absolute;
    text-align: center;
    padding-top: 2%;


}

.imagen{
    width: 100%;
}
.imagen img{
    width: 100%;
}

.gale{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1%;
    row-gap: 1%;
}


    
